global:
  scrape_interval: 2s

scrape_configs:
  - job_name: "b"
    static_configs:
      - targets: ["b-java:8081"]
    metrics_path: "/actuator/prometheus"

  - job_name: "d"
    static_configs:
      - targets: ["d:9100"]

  - job_name: "c-instances"
    dns_sd_configs:
      - names: ["c"]
        type: A
        port: 9100
        refresh_interval: 5s